# Compreensão do Modelo e Problema de Negócio

**Compreensão do Negócio**

O Banco Elegance, renomado por seus serviços premium e exclusivos, está enfrentando um desafio preocupante com o aumento no número de clientes que desejam encerrar suas contas bancárias. O Gerente Geral, Sr. Fernando, tem liderado o banco com grande sucesso, mantendo altos padrões de atendimento ao cliente. Entretanto, ele está profundamente perturbado ao perceber que um número crescente de clientes de alto valor está solicitando o encerramento de suas contas no Banco Elegance.

A dor de Sr. Fernando é ainda mais acentuada pelo fato de que esses clientes de alto valor têm sido fundamentais para o banco, contribuindo significativamente para sua reputação e receita. O Banco Elegance sempre se destacou por fornecer serviços de classe mundial e soluções financeiras personalizadas para seus clientes mais valiosos. Sr. Fernando acredita que, se eles pudessem prever antecipadamente quais desses clientes estão considerando encerrar suas contas, poderiam tomar medidas proativas para reter esses clientes valioso cancárias.

**Problema de Negócio**


O Banco Elegance deseja desenvolver um sistema de previsão que identifique com antecedência os clientes propensos a encerrar suas contas bancárias. Isso permitirá que o banco adote medidas proativas para reter esses clientes, oferecendo soluções personalizadas, benefícios adicionais e um atendimento excepcional. O objetivo é evitar que os clientes de alto valor deixem o banco, mantendo sua lealdade e protegendo a reputação do Banco Elegance no setor financeiro.

O conjunto de dados fornecido inclui informações detalhadas sobre idade, renda, estado civil, histórico de transações, produtos bancários adicionais utilizados e outros indicadores relevantes. O desafio é treinar um modelo de aprendizado de máquina que possa prever quais clientes estão mais propensos a encerrar suas contas no futuro, permitindo que o banco tome ações preventivas e ofereça um serviço excepcional de retenção de clientes.

# Importações e Bibliotecas

In [2]:
import pandas as pd
import numpy  as np

# 1.0 Compreensão dos Dados

In [7]:
df_1 = pd.read_csv('data/BankChurners.csv').drop(columns=['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'])

# Exibição
df_1.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [8]:
df_1.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'],
      dtype='object')

**CLIENTNUM:** Número do cliente. Identificador único para o cliente que possui a conta.

**Attrition_Flag:** Variável de evento interno (atividade do cliente) - se a conta estiver fechada, então 1, senão 0.

**Customer_Age:** Idade do cliente

**Gender:** Gênero do cliente em que M é sexo masculino e F é sexo feminino

**Dependent_count:** Número de dependentes.

**Educational_Level:** Qualificação educacional do titular da conta.

**Marital Status:** Estado Matrimonial do cliente.

**Income_category:** Categoria de renda anual do titular da conta.

**Card_Category:** Variável do produto - Tipo de Cartão (Azul, Prata, Ouro, Platina).

**Months_of_book:** Período de relacionamento com o banco.(Meses)

**Total_Relationship_Count:** Número total de produtos detidos pelo cliente.

**Month_Inactive_12_mon:** Número de meses inativos nos últimos 12 meses.

**Contacts_Count_12_mon:** Número de contatos nos últimos 12 meses.

**Credit_Limit:** Limite de crédito no cartão de crédito.

**Total_Revolving_Bal:** Saldo total em rotação no cartão de crédito.

**Avg_Open_To_Buy**: Linha de crédito disponível (média dos últimos 12 meses).

**Total_Amt_Chng_Q4_Q1:** Mudança no valor da transação (4º trimestre em relação ao 1º trimestre).

**Total_Trans_Amt:** Valor total da transação (últimos 12 meses).

**Total_Trans_Ct:** Total de contagem de transações (últimos 12 meses).

**Total_Ct_Chng_Q4_Q1:** Mudança na contagem de transações (4º trimestre em relação ao 1º trimestre).

**Avg_Utilization_Ratio:** Taxa média de utilização do cartão.

# 2.0 Preparação dos Dados

## 2.1 Renomear as Colunas

In [17]:
# Carregando os dados
df_2 = df_1.copy()

# Reorganizando as colunas
df_2 = df_2[['CLIENTNUM', 'Customer_Age', 'Gender', 'Education_Level', 'Marital_Status', 'Dependent_count',
             'Income_Category', 'Card_Category', 'Credit_Limit', 'Total_Revolving_Bal', 'Avg_Open_To_Buy' , 'Avg_Utilization_Ratio',
             'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon', 'Contacts_Count_12_mon', 'Total_Trans_Ct', 'Total_Trans_Amt',
             'Total_Amt_Chng_Q4_Q1', 'Total_Ct_Chng_Q4_Q1', 'Attrition_Flag']]

# Renomear as Colunas
df_2.columns = ['id_cliente', 'idade_cliente', 'genero', 'nivel_educacional', 'estado_civil', 'num_dependentes',  
                'ctg_renda_anual', 'ctg_cartao_credito', 'limite_credito_cartao', 'sld_tot_rotativo_cartao', 'credito_disponivel_media_12_meses',
                'taxa_media_utilizacao_cartao', 'meses_relacionamento', 'num_produtos_detidos', 'meses_inativos_ultimo_12_meses', 
                'num_contatos_ultimo_12_meses', 'tot_cont_transacoes_ultimo_12_meses', 'vlr_tot_transacoes_ultimo_12_meses',
                'dif_vlr_transacao_t4_t1', 'dif_cont_transacao_t4_t1', 'conta_encerrada']

# Exibição
df_2.head()

,id_cliente,idade_cliente,genero,nivel_educacional,estado_civil,num_dependentes,ctg_renda_anual,ctg_cartao_credito,limite_credito_cartao,sld_tot_rotativo_cartao,...,taxa_media_utilizacao_cartao,meses_relacionamento,num_produtos_detidos,meses_inativos_ultimo_12_meses,num_contatos_ultimo_12_meses,tot_cont_transacoes_ultimo_12_meses,vlr_tot_transacoes_ultimo_12_meses,dif_vlr_transacao_t4_t1,dif_cont_transacao_t4_t1,conta_encerrada
0,768805383,45,M,High School,Married,3,$60K - $80K,Blue,12691.0,777,...,0.061,39,5,1,3,42,1144,1.335,1.625,Existing Customer
1,818770008,49,F,Graduate,Single,5,Less than $40K,Blue,8256.0,864,...,0.105,44,6,1,2,33,1291,1.541,3.714,Existing Customer
2,713982108,51,M,Graduate,Married,3,$80K - $120K,Blue,3418.0,0,...,0.000,36,4,1,0,20,1887,2.594,2.333,Existing Customer
3,769911858,40,F,High School,Unknown,4,Less than $40K,Blue,3313.0,2517,...,0.760,34,3,4,1,20,1171,1.405,2.333,Existing Customer
4,709106358,40,M,Uneducated,Married,3,$60K - $80K,Blue,4716.0,0,...,0.000,21,5,1,0,28,816,2.175,2.500,Existing Customer